html, body {
  margin: 0
  padding: 0;
}
@media (max-height: 800px) {
    body {
        font-size: 20px;
    }
}
@media (min-width: 1020px) {
    #navbar {
        position: fixed;
        min-width: 290px;
        top: 0px;
        left: 0px;
        width: 300px;
        border-right: solid;
    }
    main {
        position: absolute;
        margin-left: 310px;
        padding: 20px;
    }
}
body {
    color: #4d4e53;
    background-color: #ffffff;
    color: #4d4e53;
}
#navbar {
    background-color: white;
    position: fixed;
    height: 50px;
    top: 0px;
    left: 0px;
    right: 0px;
}
header {
    color: black;
    text-align: center;
}
#navbar ul {
    background-color: white;
    height: 400%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
#navbar li {
    color: #4d4e53;
    border-top: 1px solid;
    list-style: none;
    position: relative;
}  
#navbar a {
    display: block;
    padding: 10px 30px;
    color: #4d4e53;
    text-decoration: none;
    cursor: pointer;
}
main {
    margin-top: 40vh;
}
code {
    display: block;
    text-align: left;
    white-space: pre-line;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}
